html,
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.container button {
  margin-top: 20px;
  width: 250px;
  padding: 8px;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: black;
  font-weight: bold;
  transition: all ease 0.2s;
}

.container button:hover {
  background-color: black;
  color: white;
}

.container button:active {
  transform: scale(0.95);
}

#fortune {
  font-size: 30px;
}
